awscli==1.11.5
botocore==1.4.62
chalice==0.3.0
click==6.2
colorama==0.3.7
configobj==5.0.6
docutils==0.12
enum34==1.1.6
future==0.15.2
futures==3.0.5
jmespath==0.9.0
line-bot-sdk==1.0.0
prompt-toolkit==1.0.8
pyasn1==0.1.9
Pygments==2.1.3
python-dateutil==2.5.3
requests==2.11.1
rsa==3.4.2
s3transfer==0.1.8
saws==0.4.1
six==1.10.0
typing==3.5.1.0
virtualenv==15.0.3
wcwidth==0.1.7
